.items-grid{
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
  
}



@media screen and (maxwidth: 1000px) {
    .items-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .items-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}